.-right {
    float: right !important;
}

.-aright {
    text-align: right;
}

.-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.-center {
    text-align: center;
}

/* Все кнопки зеленого цвета */
.-green {
    background-color: #52D048;
    color: white;
}

.-clear {
    clear: both;
}

.-small {
    font-size: small;
}