.-right {
    float: right !important;
}

.-aright {
    text-align: right;
}

.-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.-center {
    text-align: center;
}

/* Все кнопки зеленого цвета */
.-green {
    background-color: #52D048;
    border-color: transparent !important;
    color: white;
}

.-clear {
    clear: both;
}

.-small {
    font-size: small;
}

.-checkbox {
    display: none;
}

    .-checkbox + label {
        cursor: pointer;
    }

    .-checkbox:not(checked) + label:before {
        margin-right: 5px;

        position: relative;
        top: 3px;
        display: inline-block;
        width: 18px;
        height: 18px;

        content: ' ';
        background-color: white;

        border-radius: 3px;
        border: 1px solid #E3E3E3;
    }

    .-checkbox:checked + label:before {
        background-color: #86CF55;
        background-image: url("../images/checked.png");
        background-position: center center;
        background-repeat: no-repeat;
        box-shadow: inset 0 1px 1px #4AC042;
        border-color: transparent;
    }

.-input {
    padding: 0 15px;

    height: 41px;

    border: 1px solid #CECECE;
    border-radius: 3px;
    background-color: #fcfcfc;
    cursor: pointer;
    font-size: 16px;
}

select.-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-image: url("../images/arrow.png");
    background-position: 94% center;
    background-repeat: no-repeat;
}
