#base-filter {
    margin: 20px;

    background-color: white;
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

    #base-filter .block {
        padding: 25px 20px;

        border-top: 1px solid #ECECEC;
    }

    #base-filter .active {
        background-color: #F7F7F7;
        border: 0;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
    }

        #base-filter .active a.dashed {
            margin-left: 20px;
        }

        #base-filter .active a.dashed,
        #base-filter .block .dashed a {
            border-bottom: 1px dashed #9E9E9E;
            font-weight: 200;
            font-size: 15px;
            text-decoration: none;
        }

    #base-filter .block h4 {
        margin: 0 0 20px;

        font-size: 12px;
        color: #686868;
        text-transform: uppercase;
        letter-spacing: 1px;

        background-image: url("../images/hide.png");
        background-position: 99.5% center;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    #base-filter .block h4.no-hide {
        background-image: none;
        cursor: default;
    }

    #base-filter input.maxi {
        width: 100%;

        background-image: url("../images/clear.png");
        background-position: 94% center;
        background-repeat: no-repeat;
    }

    #base-filter input.mini {
        width: 63px;
    }

    #base-filter .row {
        padding: 3px;

        overflow: hidden;
    }

    #base-filter .row > div {
        width: 88px;
        float: left;
    }

    #base-filter .row div.margin {
        margin-left: 16px;
    }

    #base-filter .row div.double {
        width: 192px;
    }

        #base-filter .row div.double select{
            width: 100%;
        }

    #base-filter .list {
        margin-bottom: -10px !important;

        overflow: hidden;
    }

        #base-filter .list > a {
            padding: 6px;
            margin: 0 10px 10px 0;

            float: left;
            display: block;

            border-radius: 3px;
            cursor: pointer;
            text-decoration: none;
        }

    #base-filter .list.of-buttons > a {
        border: 1px solid #E3E3E3;
    }

        #base-filter .list.of-buttons > a.checked {
            border-color: transparent;
            box-shadow: inset 0 1px 1px #4AC042;
        }


    #base-filter .list.of-texts > a {
        padding: 0;
        margin: 0 0 10px 0;

        width: 50%;
    }

        #base-filter .list.of-texts > a.checked {
            font-weight: bold;
        }

            #base-filter .list.of-texts.line > a {
                width: 100%;
            }

                #base-filter .list.of-texts.line > a span {
                    color: #9E9E9E;
                }

                    #base-filter .list.of-texts > a.checked span {
                        font-weight: normal;
                    }

    #base-filter .block .wide-line {
        margin-bottom: 16px;

        overflow: hidden;
        white-space: nowrap;

        background-image: url("../images/dot.png");
        background-position: 0 80%;
        background-repeat: repeat-x;
    }

        #base-filter .block .wide-line a {
            padding-right: 5px;

            float: left;
            display: inline-block;

            font-weight: 200;
            background-color: #ffffff;
        }

        #base-filter .block .wide-line a + a {
            padding-right: 0;
            padding-left: 5px;
            text-decoration: none;
        }

