.base-card-high {
    margin: 20px;
    padding: 20px 0 0;

    background-color: #ffffff;
    border-radius: 3px;
    overflow: hidden;
}

    .base-card-high .header {
        min-height: 174px;
        padding: 0 20px;
    }

        .base-card-high .header img {
            max-width: 196px;

            border-radius: 3px;
        }

        .base-card-high .header h2 {
            margin: 0;

            font-size: 25px;
            font-weight: 200;
            color: #424242;
        }

            .base-card-high .header h2 span {
                font-weight: 400;
            }

        .base-card-high .header p {
            margin: 9px 0 0;

            font-size: 16px;
            font-weight: 200;
            color: #7F7F7F;
        }

    .base-card-high .line {
        padding: 8px 20px;

        border-top: 1px solid #EDEDED;
        overflow: hidden;
        font-weight: 200;
        line-height: 35px;
    }

    .base-card-high .line:hover {
        background-color: #F7F7F7;
    }

        .base-card-high .line > div {
            float: left;
        }

        .base-card-high .line .info {
            width: 260px;

            font-size: 15px;
            font-weight: 400;
            line-height: 22px;
        }

            .base-card-high .line .info p {
                margin: 0;

                color: #424242;
            }

            .base-card-high .line .info .name {
                margin-top: 7px;
            }

            .base-card-high .line .info .link {
            }

            .base-card-high .line .info .phone {
                margin-top: 5px;
            }

            .base-card-high .line .info .address {
                color: #7F7F7F;
            }



        .base-card-high .line .more {
            width: 40px;
        }

            .base-card-high .line .more a {
                text-decoration-style: dashed;
            }

        .base-card-high .line .price {
            width: 320px;
        }

            .base-card-high .line .price span:first-child {
                font-weight: bold;
            }

            .base-card-high .line .price span.button {
                padding: 0 6px;
                margin-left: 30px;

                height: 35px;
                display: inline-block;

                border: 1px solid #E6E6E6;
                border-radius: 3px;
                cursor: pointer;
            }

            .base-card-high .line .price span.button:hover {
                background-color: #52d048;
                border-color: transparent;
                color: #ffffff;
            }

