.base-yellow {
    margin: 20px;
    padding: 30px 0;

    height: 176px;

    border: 1px solid #6A7A82;
    border-radius: 3px;
    font-weight: 200;
}

    .base-yellow > * {
        margin: 0 auto;

        width: 400px;
        display: block;
    }

    .base-yellow p {
        color: #ffffff;
    }

        .base-yellow p span {
            font-weight: 400;
        }

    .base-yellow a {
        margin-top: 17px;

        height: 62px;

        color: #424242;
        background-color: #FFDC57;
        border-bottom: 3px solid #FFB630;
        border-radius: 3px;
        font-size: 19px;
        line-height: 62px;
        text-decoration: none;
    }
