.base-filter {
    margin: 20px;

    background-color: white;
    border-radius: 3px;
    overflow: hidden;
}

    .base-filter .-input:focus {
        border-color: limegreen;
    }

    .base-filter .block {
        padding: 25px 20px;

        border-top: 1px solid #ECECEC;
        overflow: hidden;
    }

        .base-filter .block .range {
            padding: 20px;
        }

    .base-filter .active {
        background-color: #F7F7F7;
        border: 0;
        border-radius:  3px 3px 0 0;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
    }

        .base-filter .active a.dashed {
            margin-left: 20px;
        }

        .base-filter .active a.dashed,
        .base-filter .block .dashed a {
            border-bottom: 1px dashed #9E9E9E;
            font-weight: 200;
            font-size: 15px;
            text-decoration: none;
        }

    .base-filter .block h4 {
        margin: 0 0 20px;

        font-size: 12px;
        color: #686868;
        text-transform: uppercase;
        letter-spacing: 1px;

        cursor: pointer;
    }

    .base-filter .block h4.no-hide {
        background-image: none;
        cursor: default;
    }

    .base-filter input.maxi {
        width: 100%;

        background-image: url("../images/clear.png");
        background-position: 94% center;
        background-repeat: no-repeat;
    }

    .base-filter input.mini {
        padding: 0;

        width: 72px;

        text-align: center;
    }

    .base-filter .row {
        /*padding: 3px;*/

        overflow: hidden;
    }

    .base-filter .row > div,
    .base-filter .row > a {
        width: 88px;
        float: left;
    }

    .base-filter .row > div + div {
        margin-left: 20px;
    }

    .base-filter .row div.double,
    .base-filter .row a.double {
        width: 192px;
    }

        .base-filter .row div.double select,
        .base-filter .row a.double select {
            width: 100%;
        }

    .base-filter .list {
        margin-bottom: -10px !important;

        overflow: hidden;
    }

        .base-filter .list > a {
            padding: 6px;
            margin: 0 10px 10px 0;

            float: left;
            display: block;

            border-radius: 3px;
            cursor: pointer;
            text-decoration: none;
        }

    .base-filter .list.of-buttons > a {
        border: 1px solid #E3E3E3;
    }

        .base-filter .list.of-buttons > a.checked {
            border-color: transparent;
            box-shadow: inset 0 1px 1px #4AC042;
        }


    .base-filter .list.of-texts > a {
        padding: 0;
        margin: 0 0 10px 0;

        width: 50%;
    }

        .base-filter .list.of-texts > a.checked {
            font-weight: bold;
        }

            .base-filter .list.of-texts.line > a {
                width: 100%;
            }

                .base-filter .list.of-texts.line > a span {
                    color: #9E9E9E;
                }

                    .base-filter .list.of-texts > a.checked span {
                        font-weight: normal;
                    }

    /* Блок со ссылками */

    .base-filter .block .links a {
        margin-bottom: 10px;

        display: table;
        width: 100%;

        font-size: 15px;
        color: #404040 !important;
        line-height: 1.875;
        text-decoration: none;
    }

    .base-filter .block .links.half a {
        width: calc(50% - 15px);

        float: left;
    }

    .base-filter .block .links.half a:nth-child(2n + 1) {
        margin-right: 15px;

        clear: both;
    }

    .base-filter .block .links.half a:nth-child(2n) {
        margin-left: 15px;
    }

    .base-filter .block .links a:hover {
        text-decoration: underline;
    }

        .base-filter .block .links a > div {
            display: table-cell;

            /*vertical-align: middle;*/
        }

        .base-filter .block .links a > div + div {
            padding-left: 10px;

            text-align: right;
            white-space: nowrap;
        }

    .base-filter .block .no-margin-bottom {
        margin-bottom: -20px;
    }

    .base-filter .block .image {
        margin-bottom: 20px;

        display: block;
        height: 124px;

        background-color: #999;
        border-radius: 3px;

        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        text-decoration: none;
    }

        .base-filter .block .image:nth-child(3n),
        .base-filter .block .image:nth-child(3n + 2) {
            margin-left: 20px;
        }

            .base-filter .block .image p {
                margin-top: 69px;
                margin-bottom: 0;

                font-size: 14px;
                color: #ffffff;
                font-weight: bold;
                text-shadow: 0 0 2px black, 0 0 2px black, 0 0 2px black;
            }

            .base-filter .block .image p + p {
                margin-top: 7px;
                font-weight: normal;
            }

    .base-filter .block.applied {
        background-image: url("../images/expand.png");
        background-position: right 20px center;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .base-filter .block.applied.show {
        background-image: url("../images/hide.png");
    }

        .base-filter .block.applied table {
            width: 100%;
        }

        .base-filter .block.applied table td + td {
            padding-right: 20px;

            font-weight: 200;
            text-align: right;
            text-decoration: underline;
            vertical-align: middle;
        }


        .base-filter .block.applied span {
            margin-right: 10px;

            cursor: pointer;
            white-space: nowrap;
        }

        .base-filter .block.applied span:after {
            content: ' ';
            display: inline-block;
            width: 20px;
            height: 16px;
            position: relative;
            top: 4px;

            background-image: url("../images/clear.png");
            background-position: right center;
            background-repeat: no-repeat;
        }

    .base-filter .block.applied ~ .block.important {
        display: none;
    }

    .base-filter .block.applied.show ~ .block.important {
        display: block;
    }

    .base-filter .block.buttons {
        padding-left: 0;

        background-color: #435762;
        border: 0;
    }

    .base-filter .block .row > button {
        width: 160px;
        height: 60px;

        font-size: 20px;
        font-weight: 200;

        background-color: #FFDD63;
        border: 0;
        border-bottom: 3px solid #EEB740;
        border-radius: 3px;
    }

        .base-filter .block .row > button:active {
            border-color: transparent !important;
        }

    .base-filter .block .row > button.cancel {
        background-color: #ABABAB;
        border-bottom-color: #8D8F8E;
    }

        .base-filter .block .row > button + button {
            margin-left: 20px;
        }

    .base-filter .block .row > button:hover {
        background-color: #ffe972;
    }

    .base-filter .block .row > button.cancel:hover {
        background-color: #c0c0c0;
    }

    .base-filter table.slider {
        width: 100%;
    }

        .base-filter table.slider td + td {
            text-align: right;
        }

    .base-filter p.checkboxes {
        margin: 8px 0;
    }

/* Кастомизация range блока */

#body .noUi-background {
    background-color: #d3d3d3;
    box-shadow: none;
}

#body .noUi-connect {
    background-color: #52d048;
    box-shadow: none;
}

#body .noUi-horizontal {
    height: 6px;
}

#body .noUi-horizontal .noUi-handle {
    height: 20px;
    width: 20px;
    top: -8px;

    border-radius: 20px;
}

#body .noUi-handle::after,
#body .noUi-handle::before {
    content: '';

    display: none;
}
