#base_footer {
    margin: 20px 0 0;
    padding: 40px 20px;

    border-top: 1px solid #52646E;
    color: #ffffff;
    font-weight: 200;
}

    #base_footer a {
        margin-left: 20px;

        color: #6A7A82;
    }

    #base_footer a:first-child {
        margin-left: 30px;
    }

        #base_footer a span {
            color: #ffffff;
        }
