#header {
    width: 100%;
    height: 67px;
    position: fixed;
    top: 0;
    min-width: 700px;

    line-height: 67px;
    background-color: white;
    z-index: 30; /* Над элементами блоков #card_half, #card_third */
}

#header > *,
#header form > * {
    display: block;
    height: 100%;
    float: left;
}

#header a {
    text-decoration: none;
}

#header .menu-switcher {
    width: 69px;
}

#header .logo {
    width: 165px;

    font-family: "Code";
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

    #header .logo img {
        margin: 0 4px;

        position: relative;
        top: 16px;
    }

#header .search-wrapper {
    padding: 0;
    margin: 0;
    width: 700px;
}

#header .search {
    border-top: 10px solid transparent;

    width: 100%;
    position: relative;
}

    #header .search > *,
    #body #header .ya-site-form__input-text {
        height: 44px;
    }

    #header .search input,
    #body #header .ya-site-form__input-text {
        padding-left: 20px;

        width: 100%;

        background-color: #fcfcfc;
        border-left: 1px solid #E3E3E3;
        border-top: 1px solid #E3E3E3;
        border-bottom: 1px solid #E3E3E3;
        border-right: 43px solid transparent;
        border-radius: 3px 0 0 3px;

        box-sizing: border-box; /* Иначе перекрывается в normalize.css */
    }

        #body #header .ya-site-form__input-text {
            padding-bottom: 0;
            padding-top: 0;

            border-radius: 3px 0 0 3px;
            border-right-width: 0;
            box-sizing: border-box;
        }

        /* В мобильном Safari поле ввода вышел на 1 пиксель, чем должно быть */
        #body.safari.ipad #header .ya-site-form__input-text {
            padding-top: 1px;
        }

    #header /* .search */ button,
    #body #header .ya-site-form__submit {
        width: 43px;
        position: absolute;
        top: 0;
        right: 0;

        background-image: url("../images/search.png");
        background-position: center center;
        background-repeat: no-repeat;
        border: 0;
        border-radius: 0 3px 3px 0;
        line-height: 1;
    }

    #body #header .ya-site-form__submit {
        height: 44px;
        position: static;

        background-color: #52d048;
    }

    .ya-site-form__search-input-layout-r {
        box-sizing: border-box;
    }

#header .city,
#header .login,
#header .coop {
    padding: 0 20px;

    border-left: 1px solid #E6E6E6;
    font-size: 17px;
}

    #header .city span {
        padding: 8px 10px 8px 26px;

        height: 35px;
        max-width: 170px;

        background-image: url("../images/city.png");
        background-position: 10px center;
        background-repeat: no-repeat;
        border: 0;
        border-radius: 3px;
        line-height: 1;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }