/* Модальное окно ДЕМО */

#modal-demo {
    padding: 20px;

    width: 200px;
    position: fixed;
    right: -220px;
    bottom: 50%;

    background-color: #ffffff;
    font-weight: 100;
    line-height: 1.7;
    white-space: nowrap;
    z-index: 99;
    transition: all 0.3s ease 0s;
}

    #modal-demo:hover {
        right: 0;
    }

    #modal-demo span {
        border-bottom: 1px dashed blue;
        cursor: pointer;
        font-weight: 200;
    }

/* Модальное окно */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;

    background-color: rgba(255, 255, 255, 0.7);
    cursor: url("../images/close.png"), default;
    z-index: 100;
}

    .modal.show {
        display: block;
    }

    .modal .window {
        margin: 100px auto;

        width: 660px;
        position: relative;
        max-height: 100%;

        background-color: #ffffff;
        border-radius: 3px;
        cursor: default;
        overflow-x: hidden;
    }

        .modal .window .close {
            position: absolute;
            top: 10px;
            right: 10px;

            width: 15px;
            height: 15px;

            background: transparent url("../images/close.png") center center no-repeat;
            cursor: pointer;
        }
