@media (max-width: 1430px) { /* 1400 + 30 (максимальный размер скролла) */
    #header .search {
        width: calc(100% - 725px);
    }
}

@media (max-width: 1030px) { /* 1000 + 30 (максимальный размер скролла) */
    #menu {
        display: none;
    }

    #map {
        left: 700px
    }
}

@media (max-width: 880px) { /* 850 + 30 (максимальный размер скролла) */
    #header .city,
    #header .coop {
        display: none;
    }

    #header .search {
        width: calc(100% - 350px);
    }

    #map {
        height: 500px;
        position: relative;
        top: 0;
        left: 0;
    }

        #map::after {
            content: ' ';

            width: 100%;
            height: 50px;
            position: absolute;
            left: 0;
            bottom: 0;

            background: linear-gradient(to bottom, rgba(67, 87, 98, 0) 0%, rgb(67, 87, 98) 90%, rgb(67, 87, 98) 100%);
            z-index: 10;
        }

        #map::before {
            content: ' ';

            width: 100%;
            height: 5px;
            position: absolute;
            left: 0;
            top: 0;

            background: linear-gradient(to top, rgba(67, 87, 98, 0) 0%, rgb(67, 87, 98) 90%, rgb(67, 87, 98) 100%);
            z-index: 10;
        }
}
