@media (max-width: 1430px) { /* 1400 + 30 (максимальный размер скролла) */
    #header .search-wrapper {
        width: calc(100% - 725px);
    }
}

/* Сокращенный вид */
@media (max-width: 1030px) { /* 1000 + 30 (максимальный размер скролла) */
    #menu {
        display: none;
    }

    #map {
        left: 700px
    }
}

/* Планшет */
@media (max-width: 880px) { /* 850 + 30 (максимальный размер скролла) */
    #header {
        width: 700px;
    }

    #header .city,
    #header .coop {
        display: none;
    }

    #header .search-wrapper {
        width: calc(100% - 350px);
    }

    #map {
        height: 500px;
        position: relative;
        top: 0;
        left: 0 !important;
    }

        #map::after {
            content: ' ';

            width: 100%;
            height: 50px;
            position: absolute;
            left: 0;
            bottom: -1px;

            background: linear-gradient(to bottom, rgba(67, 87, 98, 0) 0%, rgb(67, 87, 98) 90%, rgb(67, 87, 98) 100%);
            z-index: 10;
        }

        #map::before {
            content: ' ';

            width: 100%;
            height: 5px;
            position: absolute;
            left: 0;
            top: -1px;

            background: linear-gradient(to top, rgba(67, 87, 98, 0) 0%, rgb(67, 87, 98) 90%, rgb(67, 87, 98) 100%);
            z-index: 10;
        }
}

/* Телефон */
@media (max-width: 699px) { /* Размер меньше чем планшет на 1 пиксель */
    #header {
        width: 470px;
        min-width: 470px;
    }

        #header .search-wrapper {
            visibility: hidden;
        }

    #base {
        width: 470px;
    }

/* base-filter */

    .base-filter .block {
        padding-bottom: 0;
    }

        .base-filter .block.margin {
            padding-bottom: 20px;
        }

        .base-filter .block .range {
            padding-left: 20px !important;
        }

    .base-filter .row > div {
        width: 185px;
    }

        .base-filter .row div.double {
            width: 390px;
        }

        .base-filter .row div.double,
        .base-filter .row div.margin {
            margin-bottom: 20px;
        }

            .base-filter .row div.double.margin {
                margin-left: 0;
            }

    .base-filter .block .image.double {
        width: 185px;
    }

        .base-filter .block .image {
            margin-left: 0 !important;
        }

        .base-filter .block .image:nth-child(2n) {
            margin-left: 20px !important;
        }

    .base-filter input.mini {
        width: 160px;
    }

/* base-card */

    .base-card .header img,
    .base-card-high .header img {
        width: 116px;
    }

/* base-card-lines */

    .base-card-lines .lines .line {
        position: relative;
        min-height: 80px;
    }

        .base-card-lines .lines .line.no-more .name {
            width: 230px;
        }

        .base-card-lines .lines .line .more {
            padding-left: 0;

            position: absolute;
            left: 20px;
            top: 44px;
        }

        .base-card-lines .lines .line .price {
            width: 160px;
            position: absolute;
            right: 20px;
        }

            .base-card-lines .lines .line .price span {
                display: block;
                float: right;
            }

/* base-card-high */

    .base-card-high .header {
        min-height: 104px;
    }

    .base-card-high > .line {
        position: relative;
    }

        .base-card-high > .line > div {
            float: none;
        }

        .base-card-high > .line .price {
            width: 160px;
            position: absolute;
            right: 20px;
            top: 10px;
        }

            .base-card-high > .line .price span {
                display: block;
                float: right;
            }

/* base-card-full */

    .base-card-full .image {
        width: 116px;
        height: 116px;
    }

    .base-card-full .text {
        width: 294px;
    }

        .base-card-full .text .lower .buttons {
            margin-top: 10px;

            text-align: left !important;
        }

            .base-card-full .text .lower .buttons > a:first-child {
                margin-left: 0;
            }

/* base-card-half */

    .base-card-half .card {
        width: 205px;
        height: 570px;
    }

        .base-card-half .card .image {
            height: 205px;
        }

/* base-card-third */

    .base-card-third .card {
        width: 205px;
    }

    .base-card-third > div:nth-child(2n) {
        margin-left: 20px;
    }

    .base-card-third > div:nth-child(2n + 1) {
        margin-left: 0px;
    }

        .base-card-third > div:nth-child(2) ~ div {
            margin-top: 20px;
        }


/* base-yandex-result */

    #body .b-serp-item__text {
        padding-left: 0;
    }

/* DEMO */

    .modal,
    #modal-demo {
        display: none !important;
    }
}

