html, body {
    background-color: #EFEFEF;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
}

html {
    height: 100%;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.clear {
    clear: both;
}

.zero {
    position: absolute;
    width: 0;
    height: 0;
    overflow: visible;
}

.view-full {

}
.view-mini {
    display: none;
}
.view-pad {
    display: none;
}
.view-phone {
    display: none;
}
