.selector {
    padding-left: 20px;
    padding-right: 20px;

    height: 40px;

    border: 1px solid #ccc;
    border-radius: 3px;
    line-height: 40px;
    background-image: url("../images/arrow.png");
    background-position: right 10px center;
    background-repeat: no-repeat;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 200;
}

.selector.show {
    border-color: limegreen;
}

    .selector + div {
        display: none;
        height: 0;
        overflow: visible;
        position: relative;

        z-index: 50;
    }

    .selector.show + div { /* wrapper */
        display: block;
    }

        .selector.show + div > div { /* window */
            width: 250px;
            position: absolute;

            background-color: #ffffff;
            border: 1px solid #CCCCCC;
            border-radius: 3px;
            box-shadow: 0 3px 5px #ccc;
            z-index: 20;
        }

            .selector.show + div > div > div.selector-header { /* header */
                padding-left: 20px;

                border-bottom: 1px solid #ccc;
            }

                .selector.show + div > div > div.selector-header > h3 {
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }

                .selector.show + div > div > div.selector-header input {
                    padding: 5px 10px;

                    width: 90%;

                    border: 1px solid #CCCCCC;
                    border-radius: 3px;
                }

                .selector.show + div > div > div.selector-header > ul {
                    padding: 0;

                    list-style: none;
                }

                    .selector.show + div > div > div.selector-header > ul > li {
                        height: 30px;

                        cursor: pointer;
                        font-size: 15px;
                        font-weight: 200;
                        line-height: 30px;
                    }

                    .selector.show + div > div > div.selector-header > ul > li:after {
                        content: " ";

                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        position: relative;
                        top: 2px;
                        left: 5px;

                        background-image: url("../images/clear.png");
                    }


            .selector + div > div > div.selector-options { /* options */
                padding-right: 3px;

                max-height: 250px;

                cursor: pointer;
                overflow: hidden;
            }

                .selector + div > div > div.selector-options > div { /* option */
                    display: table;
                    width: 100%;
                }

                    .selector + div > div > div.selector-options > div.hide { /* option */
                        display: none;
                    }

                .selector + div > div > div.selector-options > div:hover { /* option */
                    background-color: #eee;
                }

                    .selector + div > div > div.selector-options > div > div { /* name, ad.info */
                        display: table-cell;
                        height: 40px;

                        font-size: 15px;
                        font-weight: 200;
                        line-height: 40px;
                    }

                    .selector + div > div > div.selector-options > div > div:first-child { /* name, ad.info */
                        padding-left: 20px;
                    }

                    .selector.multi + div > div > div.selector-options > div > div:first-child { /* name, ad.info */
                        padding-left: 50px;

                        background-image: url("../images/check_off.png");
                        background-position: 20px center;
                        background-repeat: no-repeat;
                    }

                    .selector.multi + div > div > div.selector-options > div.on > div:first-child { /* name, ad.info */
                        background-image: url("../images/check_on.png");
                    }

                    .selector + div > div > div.selector-options > div > div + div { /* name, ad.info */
                        padding-right: 20px;

                        text-align: right;
                        white-space: nowrap;
                    }

            .selector + div > div > div.selector-footer {
                padding: 20px;

                border-top: 1px solid #CCCCCC;
            }

                .selector + div > div > div.selector-footer a {
                    padding: 8px 10px;

                    border-radius: 3px;
                    color: #ffffff;
                    text-decoration: none;
                }

                .selector + div > div > div.selector-footer a.selector-more {
                    margin: -9px 0;
                    padding: 0 35px;

                    display: block;

                    font-size: 14px;
                    text-align: right;
                    text-decoration: underline;

                    background-image: url("../images/arrow.png");
                    background-position: right 10px center;
                    background-repeat: no-repeat;
                }


.selector-color { /* Цветной блок */
    margin-right: 9px;

    width: 20px;
    height: 20px;
    display: inline-block;
    position: relative;
    top: 5px;

    border-radius: 20px;
}

.selected .selector-color {
    background-image: url("../images/checkmark.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.selector-scroll {
    background: url("../images/hide.png") no-repeat scroll center top 7px,
                #ebebeb url("../images/expand.png") no-repeat scroll center bottom 7px;
}
