.content {
    padding-top: 0;
    padding-bottom: 5px;
    margin-top: 20px;

    width: 1282px;

    overflow: hidden;
}

    .content #content-map {
        margin-bottom: 3px;

        width: 100%;
        height: 156px;
        display: none;
    }

    .content .offers {
        float: left;

        width: 690px;

        background-color: #ffffff;
    }

        .content .more-offers {
            padding: 8px 0;
            margin: 4px;

            display: block;

            background-color: #ffffff;
            border: 1px solid #DEDEDE;
            border-radius: 4px;
            color: #000000;
            font-size: 17px;
            text-align: center;
            text-decoration: none;
        }

        .content .offer {
            margin-bottom: -1px;

            background-color: #ffffff;
            border: 1px solid #DEDEDE;
            border-radius: 4px;
            overflow: hidden;
        }

        .content .offers div.expand {
            margin-bottom: 20px;
            overflow: hidden;
        }

            .content .offers div.delta-margin {
                margin-top: 5px;
            }

            .content .offers div.expand h3 {
                color: #7F7F7F;
                font-weight: 300;
                text-align: center;
            }

            .content .offers div.expand div:first-of-type {
                margin-left: 250px;
            }

            .content .offers div.expand div {
                float: left;
                padding: 15px 0;
                margin-left: -1px;

                width: 90px;

                font-size: 15px;
                border: 1px solid #7F7F7F;
                text-align: center;
                cursor: pointer;
            }

                .content .offers div.expand div img {
                    vertical-align: middle;
                }

