.content .right {
    float: right;
    padding-top: 5px;
}

    .content .right .map-link {
        margin: 0 0 8px;
    }

        .content .right .map-link a {
            color: #3749B3;

            font-size: 13px;
        }

    .content .right > * {
        padding-left: 16px;
        width: 576px;

        text-align: justify;
    }

    .content .right #map {
        height: 350px;
    }

    .content .right h2 {
        color: #666666;
        font-size: 16px;
        font-weight: 300;
    }

    .content .right p {
        color: #666666;
        font-size: 13px;
    }